# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/         
*.lcov
.jest-cache/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Firebase
firebase-adminsdk.json
serviceAccountKey.json

serviceAccountKey.json
config/cpen-321-group-project-cb708-firebase-adminsdk-fbsvc-eb2e3116e5.json